<div class="podcasts row">
    <div class="col-12">
        <h2>%MEDIA_ABOUT_THE_PODCAST%</h2>
        <p>{{description}}</p>
        <p class="text-right">
            <a href="{{link}}" target="_blank" data-category="podcast" data-action="visit-website">%MEDIA_VISIT_THE_WEBSITE%</a>
        </p>
    </div>
    <div class="col-12">
        <h2>%MEDIA_EPISODES%</h2>
        {{#episodes}}
            <div class="media border p-3 mb-4">
                {{#getArtwork.getUri}}
                    <img src="{{getArtwork.getUri}}" alt="{{getTitle}}" class="mr-3 mt-3" style="width:150px;">
                {{/getArtwork.getUri}}
                <div class="media-body">
                    <h3>{{getTitle}}</h3>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <audio controls preload="metadata">
                                <source src="{{getMedia.getUri}}" type="{{getMedia.getMimeType}}">
                                %MEDIA_AUDIO_NOT_SUPPORTED%
                            </audio>
                        </div>
                        <div class="col-12 col-md-6 text-right">
                            <a href="{{getLink}}" target="_blank" data-category="podcast" data-action="visit-episode">%MEDIA_GOTO_THIS_EPISODE%</a>
                        </div>
                    </div>
                </div>
            </div>
        {{/episodes}}
    </div>
</div>
<div class="text-right">
    {{{pagination}}}
</div>