<div class="podcasts row">
    <div class="col-12">
        <h2>Over de podcast</h2>
        <p>{{description}}</p>
        <p><a href="{{link}}" target="_blank">Bezoek de website</a></p>
    </div>
    <div class="col-12">
        <h2>Laatste aflevering</h2>
        <h3>{{mostRecentEpisode.getTitle}}</h3>
        <a href="{{mostRecentEpisode.getLink}}" target="_blank">Luister online</a>
    </div>
</div>